@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,900');

body {
    background-image: url(image/ciel-bleu-610x457.jpg);
    background-size: 100%;
}
.navbar {
    background-color: rgb(93, 133, 160);
    height: 50px;
    width: 100%;
    word-spacing: 30px;
}


.p-left {
    float: left;
    margin: 13px 0px 0px 0px;
}


.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
    padding-right: 5px;
}
.p-right {
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-top: 0px;
    float: right; 
    font-family: 'quicksanddash';
}
.p-right:hover {
    color: white;
}
.parole div[class="parole-left"] {
    float: left;
    font-family: 'Roboto';
    text-align: left;
}
.parole div[class="parole-right"] {
    float: right;
    margin-right: 0px;
    font-family: 'Roboto';
}
.parole {
    float: right;
}
.image {
    float: left;
    height: 100%;
}
.image img[class="imag"]{
    height: 1000px;
    width: 900px;
    margin-bottom: 10px;
    border-radius: 50%;
}

@font-face {
    font-family: 'alex_brushregular';
    src: url('fontface/alexbrush-regular-webfont.woff2') format('woff2'),
         url('fontface/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.navbar a[class="link"] {
    font-family: 'Roboto';
    color: bisque;
    font-size: 18px;
    text-decoration: none;
}
.navbar a[class="link"]:hover {
    color: black;
}
.site-name h1[class="name"] {
    float: left;
    color: brown;
    color: hsla(hue, saturation, lightness, alpha);
    width: 300px;
    padding-left: 10px;
    padding-top: 0px; 
    margin-top: 0px;
    font-size: 40px;
    font-family: 'alex_brushregular';
}
.site-name h1[class="name"]:hover {
    color: black;
}
.center {
    font-family: 'chunkfiveroman';
    text-align: center;
}
.center:hover {
    color: rgb(44, 42, 165);
}
@font-face {
    font-family: 'quicksanddash';
    src: url('fontface/quicksand_dash-webfont.woff2') format('woff2'),
         url('fontface/quicksand_dash-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chunkfiveroman';
    src: url('fontface/chunkfive-webfont.woff2') format('woff2'),
         url('fontface/chunkfive-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.bas div[class="gauche"] {
    float:left;
    width: 100%;
    height: 40px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
	word-spacing: 25px;
    padding-left: 10px;
    background-color: rgb(93, 133, 160);
}
.fb {
    height: 35px;
    border-radius: 50%;
}
.twitt {
    height: 40px;
}
.slac {
    height: 40px;
}